<h2>Articles</h2>
<!--
<select [(ngModel)]="weather.city">
  <option value="" disabled selected hidden>
    Ville
  </option>
  <option *ngFor="let city of cities" [value]="city">
    {{ city }}
  </option>
</select>
<input [(ngModel)]="weather.temperature" placeholder="Temperature">
<select [(ngModel)]="weather.condition">
  <option value="" disabled selected hidden>
    Condition
  </option>
  <option *ngFor="let condition of conditions" [value]="condition">
    {{ condition }}
  </option>
</select>

<button (click)="save()">Enregistrer</button>
-->

<div class="table-container">
  <table class="table45">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Date de publication</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of articles">
        <td>{{a.title}}</td>
        <td>{{a.content}}</td>
        <td>{{a.pubdate}}</td>
        <td>
          <!-- <button (click)="edit(w)">Éditer</button>
          <button (click)="delete(w.id)">Supprimer</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>