<h2>Articles</h2>
<input [(ngModel)]="article12.title" placeholder="Titre">
<input [(ngModel)]="article12.content" placeholder="Contenu">
<input [(ngModel)]="article12.pubdate" placeholder="Date de publication">
<button (click)="save()">Enregistrer</button>

<div class="table-container">
  <table class="table45">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of articles">
        <td>{{a.title}}</td>
        <td>{{a.content}}</td>
        <td>{{a.pubdate}}</td>
        <td>
          <button (click)="edit(a)">Éditer</button>
          <button (click)="delete(a.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Réinitialiser la base de données</h3>
  <p>Suppression de tous les enregistrements et rétablissement des deux premiers enregistrements à titre d’exemple.</p>
  <div class="reset"><button (click)="reset()">Réinitialiser</button></div>
</div>